{{#each result}}
<div class="settings__daily {{this.categoryClass}}" data-id={{this.id}}>
    <div class="settings__daily-day">{{this.currDate}}</div>
    <div class="settings-delete-mode settings-delete-mode--{{this.category}}"> <div class="settings-delete-mode-icon"></div> </div>
    <div class="settings__daily-wrapper">
        <span class="settings__daily-span">{{this.title}}</span>
        <span class="settings__daily-span-main"> {{this.description}}</span>
    </div>
    <div class="settings__daily-wrap">
          <button class="settings__move settings__move-down"></button>
        <button class="settings__daily-button"></button>
    </div>
    <div class="settings__daily-icon--{{this.estimation}} settings__daily-icon {{this.priorityClass}}"></div>
</div>
{{/each}}