{{#each data}}
<div class="settings__daily {{this.categoryClass}}" data-id={{this.id}}>
    <div class="settings__daily-day">{{this.currDate}}</div>
    <div class="settings__daily-wrapper">
        <span class="settings__daily-span">{{this.title}}</span>
        <span class="settings__daily-span-main"> {{this.description}}</span>
    </div>
    <button class="settings__daily-button"></button>
    <div class="settings__daily-icon--{{this.estimation}} settings__daily-icon {{this.priorityClass}}"></div>
</div>
{{/each}}
